h1, h2 {
    color: dimgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3 {
    color: steelblue;
    border-bottom: steelblue 1px solid;
}


body {
    margin-left: 350px;
    margin-right: 350px;
}
a {
    text-decoration: none;
}
